/* MFADT Major Studio 1 | stylesheet
   Author: Anna Garbier */

/* TODO: Code health throughout. */

/* BODY */
body {
	font-family: Verdana, Geneva, sans-serif;
	padding: 0px;
	margin: 0px;
}

/* HOME HEADER */
.header {
  overflow: hidden;
/*  position: fixed;*/
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  margin: 0px;
  padding: 2%;
}

.header li {
	float: left;
	display: block;
	text-align: left;
	font-size: 22px;
  padding-right: 5px;
}

#anna {
  padding-right: 30px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
	text-decoration: underline;
}

.content-col-text p {
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  font-size: 16px;
}

/* CONTENT PAGES */
.content-row > .content-col-left,
.content-col-right,
.content-col-full {
/*    border: 1px solid red;*/
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Project pages can be configured to have full or half-width
  images/text by default. All are responsive to window size */

/* Half-width content */
.content-col-left {
  float: left;
  width: 47%;
  padding-left: 2%;
  padding-right: 1%;
}

.content-col-right {
  float: right;
  width: 47%;
  padding-left: 1%;
  padding-right: 2%;
}

.content-col-full {
  float: left;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.hacky-divider {
  display: block;
  line-height:0;
  height: 0;
  overflow: hidden;
  width: 100%;
}

.content-col-left img,
.content-col-right img,
.content-col-full img {
  width: 100%;
}

.content p.project-title {
  font-weight: bold;
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

/* Break point */
/* Medium and small windows are one column wide */
@media (max-width: 1200px) {
  .content-col-left, .content-col-right {
  width: 96%;
  }
}

.image-in-text {
  float: right;
  padding: 20px;
}

.minitext {
  font-size: 12px;
}

.code {
  font-family: "Courier New", Courier;
}


/* ABOUT ME PAGE */
.bio {
  margin: 2%;
  margin-right: 10%;
}

.project-desc {
  padding-right: 15%;
  padding-left: 15%;
}

.visual-divider {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  font-weight: bold;
}

 nav ul {
  list-style: none;
}

.extra-margins {
  margin-left: 12%;
  margin-right: 12%;
}

nav .current-page {
  text-decoration: underline;
}
