body {
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 1.25;
}
#content {
  min-height: 100vh;
  /* background-color: green; */
  top: 0;
}
#chapter {
  width: 50%;
  margin: auto;
  padding-top: 100px;
  /* background-color: red; */
}
.generated {
  color: white;
}
.prompt {
  text-decoration: line-through;
  /* background-color: white; */
  background-color: rgb(212, 39, 39);
  color: black;
}
.prompt-keep {
  border-radius: 2px;
  transition: background-color 0.75s linear;
}

#info {
  border-top: 1px solid white;
  display: none;
  font-size: 20px;
  padding-top: 5px;
}
#source {
  /* text-decoration: overline; */
  font-weight: lighter;
}
#prompt-key {
  background-color: rgb(212, 39, 39);
  color: black;
  text-decoration: line-through;
  border-radius: 2px;
}
#prompt-keep-key {
  background-color: rgb(212, 39, 39);
  border-radius: 2px;
}

/* appear/disappear text */
.hideshow {
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  max-width: 0rem;
  max-height: 28px;
  padding: 0;
  margin: 0;
  opacity: 1;
  word-wrap: break-word;
  border-radius: 2px;
}

@keyframes appeartext {
  from {
    max-width: 0rem;
    max-height: 28px;
  }
  to {
    max-width: 40rem;
    max-height: 28px;
  }
}

@keyframes disappeartext {
  from {
    max-width: 40rem;
    max-height: 28px;
  }
  to {
    max-width: 0rem;
    max-height: 28px;
  }
}

/* https://codepen.io/ariona/pen/LEEadb */

/* bookmark */
#bookmark {
  position: absolute;
  width: 100%;
  height: 10px;
  top: 0px;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  border: none;
}
#bookmark > div {
  /* display: inline-block; */
  width: 50%;
  margin: 0px;
  text-align: center;
}
.tab {
  /* border-top: 1px solid black; */
  border-right: 1px solid black;
}

/* arrows */
#previous {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  font-size: 25px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5em;
  /* border: 1px solid white;
    border-radius: 6px; */
}

#next {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.7em;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}
button:focus {
  outline: none;
}

#title {
  background: white;
  height: 100vh;
}

#chapter:hover {
  cursor: none;
}

#subreddit {
  text-decoration: underline;
}

/* body:hover {
  cursor: none;
} */

/* Images */
img {
  height: 20vh;
}

/* Disable highlight */
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}
