/*  Portfolio website styles */

/* BODY */
body {
	font-family: "Courier New", Courier;
	padding: 0px;
	margin: 0px;
}

.bold {
	font-weight: bold;
}

/* HOME HEADER */
.header {
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding-bottom: 15px;
    margin: 0px;
    padding: 2%;
}

.header li {
	float: left;
	display: block;
	text-align: left;
	text-decoration: none;
	font-size: 30px;
	border-bottom: 1px solid black;
	padding-right: 30px;
}

.last-li {
	padding-right: 0px;
}

@media (max-width: 800px) {
    .header li {
    	font-size: 24px;
    }
}

.header a:hover {
	text-decoration: underline;
}

.header a {
	text-decoration: none;
	color: black;
}

/* HOME TILES */
.tiles {
	margin-top: 95px;
	position: absolute;
	width: 100%;
}

.tile-col-text p {
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  font-size: 16px;
}

.tile-row > .tile-col {
    padding: 2%;
}

.tile-row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: space-between;
}

/* Large window */
.tile-col {
    float: left;
    width: 21%;
}

/* Medium window */
@media (max-width: 1200px) {
    .tile-col {
    width: 46%;
    }
}

/* Narrow window */
@media (max-width: 800px) {
    .tile-col {
    width: 90%;
    }
}

/* CONTENT PAGES */
.content {
	margin-top: 85px;
	position: absolute;
	width: 100%;
}

.content-row > .content-col-left,
.content-col-right,
.content-col-full {
    padding: 2%;
}

.content-row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: space-between;
}

/* Large window */
.content-col-left {
    float: left;
    width: 45%;
}

.content-col-right {
    float: left;
    width: 45%;
}

.content-col-full {
    float: left;
    width: 96%;
}

/* Medium and small windows */
@media (max-width: 1200px) {
    .content-col-left, .content-col-right {
    width: 96%;
    }
}

.content p {
	font-size: 18px;
}

.content p.project-title {
	font-weight: bold;
	font-size: 30px;
}

.bio {
	margin: 2%;
	margin-right: 20%;
}
