/* MFADT Major Studio 1 | stylesheet
   Author: Anna Garbier */

/* TODO: Code health throughout. */

/* ===== Start general formatting ===== */
body {
	/*font-family: Verdana, Geneva, sans-serif;*/
  /*font-family: Monaco, "Lucida Console", monospace;*/
  font-family: "Executive", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
  width: 60%;
  min-width: 800px;
  margin: 0 auto;
  font-size: 14px;
}

/* header */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
}

nav li {
    float: left;
    padding: 14px 0px 14px 20px;
}

nav li a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: black;
}

#title {
  margin: 0;
  padding: 14px 20px 14px 0px;
}

.active {
  text-decoration: underline;
}

/* gallery */
.container {
  width: 100%;
  margin: 0 auto;
}

/*#gallery {
  padding: 2px 0 0 0;
}*/

#gallery img {
  margin: 1%;
  width: 22%;
  cursor: pointer;
}

#gallery img:hover {
  opacity: .8;
}

#buttons {
  padding: 4px;
  margin: 8px;
  padding-bottom: 8px;
}

#buttons button {
  border: 1px solid #F1D637;
  margin-right: 8px;
  border: 0;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  font-family: "Executive", "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
}

#buttons button.active {
  background-color: #F1D637;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
/*  text-decoration-color: #F1D637;*/
}

button:focus {
  outline: 0;
}

/* content pages */
.project-title {
  font-size: 16px;
  font-weight: bold;
}

.summary {
  margin-bottom: 40px;
}

.project-container {
  width: 100%;
}

.project-container img {
  width: 100%;
}

video {
  width: 100%;
}

.project-subheader {
  font-weight: bold;
}

.image-caption {
  color: #696969;
  margin: 0px 0px 20px 0px;
}

.half-width-l,
.half-width-r {
  width: 49%;
}

.half-width-l {
  float: left;
}

.half-width-r {
  float: right;
}

.code {
  font-family: courier;
  color: green;
}

/* about */
.float-right {
  float: right;
}